@import "../assets/stylesheets/material-theme.scss";

:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  min-height: 100%;
}

/* >>> Header <<< */

header {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.toolbar-brand {
  flex: auto 1 1;
  text-align: center;
  margin-left: 40px;
  cursor: pointer;

  &.mobile-signed-id {
    margin-left: 0;
  }
  &:focus {
    outline: 0;
  }
}

/* >>> Main <<< */

main {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

/* >>> Footer <<< */

footer {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.toolbar-footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
