@import "../assets/stylesheets/material-theme.scss";

mat-toolbar {
  position: fixed;
  left: 0;
  right: 0;
}

/* >>> Header <<< */

.toolbar-header {
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

/* >>> Footer <<< */

.toolbar-footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* >>> Sidenav <<< */

mat-sidenav-container {
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
}

mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

mat-nav-list {
  width: 100%;
}

mat-sidenav-content {
  background-color: white;
  padding: 20px 320px 20px 20px;
}
