<ng-container>
  <mat-toolbar color="primary" class="toolbar-header" role="header">
    <button mat-icon-button *ngIf="mobileQuery.matches" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <span routerLink="/">RPGMaster</span>
    <button mat-button *ngIf="currentUser" routerLink="/profile">{{currentUser.name}}</button>
    <button mat-button *ngIf="!currentUser" routerLink="/sign_in">Sign in</button>
    <button mat-icon-button *ngIf="currentUser" (click)="signOut()"><mat-icon>power_settings_new</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.top]="mobileQuery.matches ? '56px' : '64px'"
                         [style.bottom]="mobileQuery.matches ? '56px' : '64px'">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [opened]="!mobileQuery.matches" [disableClose]="!mobileQuery.matches"
                 fixedInViewport="false">
      <mat-nav-list *ngIf="currentUser">
        <a mat-list-item href="...">Public Campaigns</a>
        <a mat-list-item href="...">Private Campaigns</a>
        <a mat-list-item href="...">Favorites</a>
     </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar color="primary" class="toolbar-footer">
    <button mat-button [disabled]="messageService.messages.length == 0" (click)="openLogDialog()">
      Development log
    </button>
  </mat-toolbar>
</ng-container>
