<!-- Toolbar -->
<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
    <mat-icon *ngIf="drawer.opened">menu_open</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="setTheme(!lightMode)">
    <mat-icon *ngIf="!lightMode">dark_mode</mat-icon>
    <mat-icon *ngIf="lightMode">light_mode</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer disableClose="true" opened="true" mode="side">
    <button mat-flat-button routerLink="/campaigns">Campaigns</button>
  </mat-drawer>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

<rpgm-footer></rpgm-footer>
