<h1>Profile</h1>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput required type="text" placeholder="Username" formControlName="name">
    <mat-error *ngIf="userForm.controls.name.invalid && userForm.controls.name.errors.required === true">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput required type="email" placeholder="Email" formControlName="email">
    <mat-error *ngIf="false">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="userForm.controls.email.invalid && userForm.controls.email.errors.required === true">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <loading-button [loading]="isLoading" [disabled]="userForm.pristine || userForm.invalid" text="Save"></loading-button>
</form>
