@use '@angular/material' as mat;
@use './app/footer/footer-theme.component' as footer;

@include mat.core();

$rpgm-light-primary: mat.define-palette(mat.$teal-palette, 800);
$rpgm-light-accent: mat.define-palette(mat.$amber-palette, 800);
$rpgm-dark-primary: mat.define-palette(mat.$teal-palette, 400);
$rpgm-dark-accent: mat.define-palette(mat.$amber-palette, 300);
$rpgm-warn: mat.define-palette(mat.$red-palette);

$rpgm-light-theme: mat.define-light-theme((
 color: (
   primary: $rpgm-light-primary,
   accent: $rpgm-light-accent,
   warn: $rpgm-warn,
 )
));

$rpgm-dark-theme: mat.define-dark-theme((
 color: (
  primary: $rpgm-dark-primary,
  accent: $rpgm-dark-accent,
  warn: $rpgm-warn,
)
));


@include mat.all-component-themes($rpgm-dark-theme);
@include footer.theme($rpgm-dark-theme);

.rpgm-light-theme {
  @include mat.all-component-themes($rpgm-light-theme);
  @include footer.theme($rpgm-light-theme);
}
