<div>
  <h1>RPG Master</h1>
  <p>Ich habe die Seite als Freizeitprojekt für meine Rollenspiele entwickelt.</p>
  <p>Ich bin seit 1991 Rollenspieler und die allermeiste Zeit davon Spielleiter gewesen. In den letzten Jahren hat die technische Unterstützung unseres Spieles immer größere Formen angenommen. Das Wenigste ist bei uns noch rein auf Papier oder nur als Buch verfügbar.</p>
  <p>Mir hat bei allen Lösungen aber immer etwas gefehlt. Die Dropbox ist zwar gut um Ressourcen weiter zu reichen, aber komplexere Konfigurationen wer was wann sehen darf ist sehr umständlich oder unmöglich zu organisieren. Google Drive oder andere Produkte haben wir da eher noch weniger gefallen. Auch das Anzeigen von Karten ließ sich nur bedingt gut organisieren.</p>
  <p>Was genau möchte ich eigentlich? Ich wollte immer Texte schreiben, und diese erst zu einem bestimmten Zeitpunkt an die Spieler austeilen. Des Weiteren möchte ich gerne Teile der Texte für unterschiedliche Spieler unterschiedlich darstellen. Nicht jeder Charakter hat schließlich das gleiche Wissen. Auch die Charakterblätter und das Inventar möchte ich mir gerne anschauen können, ohne dass es jemand sehen kann.</p>
  <p>Ich versuche also auf der Seite Schritt für Schritt das zu entwickeln, was ich mir vorgestellt habe, was meine Spieler an Bedarf haben oder was sich im Laufe der Zeit noch als praktisch herausstellt.</p>
</div>
