<h2>Campaigns:</h2>

<mat-accordion hideToggle multi>
  <mat-expansion-panel *ngFor="let campaign of campaigns">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary" *ngIf="campaign.isPublic">public</mat-icon>
        <mat-icon color="accent" *ngIf="!campaign.isPublic">visibility_off</mat-icon>
        <div>{{ campaign.name }}</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="description-container invisible-scrollbar">
      {{ campaign.shortDescription }}
    </div>

    <mat-action-row>
      <button mat-button color="primary">Open</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
