<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput required type="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="userForm.controls.password.errors?.required">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="userForm.controls.password.errors?.minlength">
      Password must at least be <strong>{{userForm.controls.password.errors.minlength.requiredLength}} characters long</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput required type="password" placeholder="Confirmation" formControlName="passwordConfirmation">
    <mat-error *ngIf="userForm.controls.passwordConfirmation.errors?.required">
      Password confirmation is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="userForm.controls.passwordConfirmation.errors?.matchPassword">
      Password confirmation is <strong>not equal</strong> password
    </mat-error>
  </mat-form-field>

  <div class="button-row">
    <button mat-button type="button" routerLink="../">Cancel</button>
    <app-loading-button [loading]="isLoading" [disabled]="userForm.pristine || userForm.invalid" text="Save"></app-loading-button>
  </div>
</form>
